image: node:20

stages:
  - install
  - build
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

install:
  stage: install
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - .next
      - package.json
      - package-lock.json
      - public

pages:
  stage: deploy
  script:
    - npm run export
    - mv out public
  artifacts:
    paths:
      - public
  only:
    - main
